extends ../layout/common.pug
block content
  h1.display-4.text-center User
  p.text-center.font-weight-light Coders-Tokyo
  a(href='/user/login').text-decoration-none
    button.btn.btn-outline-success.btn-block Login
  hr
  a(href='/user/create').text-decoration-none
    button.btn.btn-outline-dark.btn-block Create